<div ng-controller="ResAdd">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></div>
            <select class="form-control"
                    ng-model="activeDomain"
                    ng-options="domain for domain in domainList">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>详细配置</label>
        <div class="editor" ng-jsoneditor="onLoad" ng-model="editor.data" options="editor.options"></div>
    </div>
    <button class="btn btn-info" ng-click="fnAddRes(activeDomain)">
        <span class="glyphicon glyphicon-send">Add</span>
    </button>
    <button class="btn btn-danger" ng-click="editor.data = {}">
        <span class="glyphicon glyphicon-trash">cancel</span>
    </button>
    <button class="btn btn-primary" ng-click="changeOptions()"><i class="fa fa-check-circle"></i> change options
    </button>
</div>



