<div class="row" ng-controller="ResAll">
    <div class="col-sm-4">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></div>
                <select class="form-control"
                        ng-model="activeDomain"
                        ng-options="domain for domain in domainList"
                        ng-change="fnSetDomain(activeDomain)">
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                <input class="form-control"
                       ng-model="searchPattern"
                       ng-change="fnUpdateResList(activeDomain)"/>
            </div>
            <button class="btn btn-default" ng-click="changeOptions()"><span
                    class="glyphicon glyphicon-blackboard">View</span></button>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="form-group">
            <div class="editor" ng-jsoneditor="onLoad" ng-model="editor.data" options="editor.options"></div>
        </div>
    </div>
</div>



